.navbar {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
}

img {
  width: 200px;
  padding: 10px;
}

body {
  background-color: rgb(160, 181, 221);
}

hr {
  border: none;
  border-top: 2px solid rgba(13, 8, 8, 0.255);
  margin: 20px 0;
}

h2 {
  text-align: center;
  color: rgb(101, 28, 168);
}

.projects {
  display: block;
  background-color: whitesmoke;
  border: 10px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: dashed purple;
}
