.navbar {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
}

img {
  width: 200px;
  padding: 10px;
}

body {
  background-color: rgb(160, 181, 221);
}

hr {
  border: none;
  border-top: 2px solid rgba(13, 8, 8, 0.255);
  margin: 20px 0;
}

h2 {
  text-align: center;
  color: rgb(101, 28, 168);
}

.projects {
  display: block;
  background-color: whitesmoke;
  border: 10px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: dashed purple;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  bottom: 0;
  z-index: 2;
  padding: 20px;
}

/* Responsive layout for smaller screens */

@media screen and (max-width: 768px) {
  .thing2 {
    grid-template-columns: repeat(3, 1fr);

    height: auto;
  }

  #submitb {
    width: 90%; /* Full width on smaller screens, adjusts with screen size */

    font-size: 1em; /* Maintain readability */
  }
}

/* Responsive layout for larger screens */

@media screen and (min-width: 1050px) {
  .thing2 {
    grid-template-columns: repeat(5, 1fr);
  }

  #submitb {
    max-width: 600px; /* Centered with maximum width for readability */
  }
}
